.container {
    display: flex;             /* Enable flexbox layout */
    flex-direction: column;   /* Stack categories vertically */
    margin: 20px 0;          /* Margin for spacing between categories */
  }
  
  .pc, .laptop, .Mobile, .Console {
    display: flex;            /* Use flexbox for card containers */
    flex-wrap: wrap;         /* Allow wrapping of cards to the next line */
    justify-content: space-around; /* Distribute space between cards */
    margin-bottom: 15px;  
    background-color: rgb(89, 89, 89);   /* Space between categories */
  }
  